<%= form_for(@comment, url: comment_user_album_photo_path) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content, 'Leave a Comment:' %><br />
    <%= f.text_area :content, :autofocus => true, size: '100x3' %>
  </div>

  <div class="links">
    <%= f.submit 'Submit', class: "btn btn-success btn-mini" %>
  </div>
<% end %>
