<div class="span8">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Content:</b>
    <%= @comment.content %>
  </p>

  <p>
    <b>User:</b>
    <%= @comment.user %>
  </p>

  <p>
    <b>Album:</b>
    <%= @comment.album %>
  </p>

  <div class="links">
   <% if can? :edit, @comment %>
      <%= link_to 'Edit', edit_comment_path(@comment), class:"btn btn-warning btn-mini" %>
    <% end %>
    <%= link_to 'Back', comments_path, class:"btn btn-inverse btn-mini" %>
  </div>
</div>