<%= form_tag search_path, html: {method: :post} do |f| %>

    <%= label :q, 'Search for a Photo!' %>
    <%= text_field_tag :q, params[:q] %>

    <%= submit_tag 'Search!' , name: nil %>
<% end %>

<% if flash %>
  <p><%= flash[:error] %></p>
<% end %>

<ul>
    <% @photos.each do |photo| %>
      <li>
      <%= link_to( image_tag(photo.photo_picture.url), user_album_photo_path(photo.album.user, photo.album, photo)) %>
      </li>
    <% end %>
</ul>