<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>
  <div class="links">
    <%= link_to 'View', @user, class:"btn btn-info btn-mini" %>
    <%= link_to 'Back to Users', users_path, class:"btn btn-inverse btn-mini" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :autofocus => true %><br />
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br />
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %><br />
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %><br />
  </div>
  <div class="field">
    <%= f.file_field :avatar, :onchange =>"validateFiles(this);", :data => { :max_file_size => 1.megabyte }%>
     <%= f.label :avatar %><br/>
  </div>
  <div class="field">
    <%= f.label :biography %>
    <%= f.text_area :biography %><br />
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %><br />
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %><br />
  </div>
  <div class="field"> <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br />
  </div>
  <div class="links">
    <%= f.submit 'Submit', class: "btn btn-success btn-mini"  %>
    <%= link_to 'View', @user, class:"btn btn-info btn-mini" %>
    <%= link_to 'Back to Users', users_path, class:"btn btn-inverse btn-mini" %>
  </div>
<% end %>