<div class="span10 offset1 photo">
<br>
<br>
    <h1>4PiX Members</h1>
    <br>
    <table class="table">
      <tr>
        <th> </th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Location</th>
        <th></th>
      </tr>

    <% @users.each do |user| %>
      <tr>

        <td>
            <% if user.avatar? %>
                <%= image_tag user.avatar.thumb.url %>
            <% end %>
        </td>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.username.humanize %></td>
        <td><%= user.location %></td>
        <td><%= link_to 'View', user, class:"btn btn-info btn-mini" %>
                <%if can? :update, user and current_user.role == 'registered' || 'admin' %>
                    <%= link_to 'Edit', edit_user_registration_path(user), class:"btn btn-warning btn-mini" %>
                    <%= link_to 'Destroy', user, class:"btn btn-danger btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %>
                <%end%></td>
      </tr>
    <% end %>
    </table>

    <br />
<!--     <div class="links">
        < %= link_to 'New User', new_user_registration_path, class:"btn btn-success btn-large" %>
    </div> -->
<br>
<br>
    <div class="links">
        <%= paginate @users %>
    </div>
</div>


