<div class="span8">

  <p>
    <b>Name:</b>
    <%= @album.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @album.description %>
  </p>

  <p>
    <b>Privacy:</b>
    <%= @album.privacy %>
  </p>


  <p>
    <b>Photos:</b>
    <% @album.photos.each do |photo|%>
    <%= link_to( image_tag(photo.photo_picture.url), user_album_photo_path(photo.album.user, photo.album, photo)) %>
    <% end %>
  </p>

  <div class="links">
   <% if can? :manage, @album.user %>
      <%= link_to 'Add Photo', new_user_album_photo_path(@album.user, @album), class:"btn btn-success btn-mini"%>
      <%= link_to 'Edit Album', edit_user_album_path(@album.user, @album), class:"btn btn-warning btn-mini" %>
      <%= link_to 'Destroy', user_album_path(@album.user, @album), class:"btn btn-danger btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <%= link_to 'Back to User Profile', user_path(@album.user), class:"btn btn-inverse btn-mini" %>
  </div>
</div>