<div class="span8">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Description:</b>
  <%= @album.description %>
</p>

<p>
  <b>Privacy:</b>
  <%= @album.privacy %>
</p>


<p>
  <b>Photos:</b>
  <% @album.photos.each do |photo|%>
  <%= link_to photo.name, user_album_photo_path(photo.album.user, photo.album, photo) %>
  <% end %>
</p>

<%= link_to 'Add Photo', new_user_album_photo_path(@album.user, @album) %> |
<%= link_to 'Edit Album', edit_user_album_path(@album.user, @album) %> |
<%= link_to 'Destroy', user_album_path(@album.user, @album), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to User Profile', user_path(@album.user) %>
</div>