<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Description:</b>
  <%= @album.description %>
</p>

<p>
  <b>Privacy:</b>
  <%= @album.privacy %>
</p>

<p>
  <b>User:</b>
  <%= @album.user %>
</p>

<p>
  <%= @album.photos.each do |photo|%>
  <%= link_to photo.name, user_album_photo_path(photo.album.user, photo.album, photo) %>
  <% end %>
</p>

<%= link_to 'Add Photo', new_user_album_photo_path(@album.user, @album) %> |
<%= link_to 'Edit Album', edit_user_album_path(@album.user, @album) %> |
<%= link_to 'Back to User Profile', user_path %>
raise
