<div class="span8">
  <h1>Photo</h1>

  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @photo.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @photo.description %>
  </p>

  <p>
    <b>Photo picture:</b>
    <%= image_tag @photo.photo_picture.url %>
  </p>

  <p>
    <b>Number of Likes:</b>
      <%= @photo.likes.size %>
  </p>


  <div class="voting">
    <% if current_user.voted_up_on? @photo %>
      <%= button_to 'Unlike', unlike_user_album_photo_path(@photo.album.user, @photo.album, @photo) %>
    <%else %>
       <%= button_to 'Like', like_user_album_photo_path(@photo.album.user, @photo.album, @photo) %>
    <%end%>
  </div>

  <div class="comments_container">
    <p>
      <b>Comments:</b>
    </p>
      <%if current_user%>
      <%else%>
      <p>Please <%= link_to 'login', login_path%>to leave a comment.</p>
      <%end%>
      <ul class="track_comments">
        <% @photo.comments.each do |comment| %>
          <li>
            <%= comment.description %><br>
            <%= comment.user.name %> on <%= comment.created_at.strftime('%c') %>
          </li>
        <% end %>
      </ul>
      <%= render partial: 'comments/form' %>
  </div>

  <div class="links">
    <%= link_to 'Edit', edit_user_album_photo_path(@photo.album.user, @photo.album, @photo), class:"btn btn-warning btn-mini" %>
    <%= link_to 'Destroy', user_album_photo_path(@photo.album.user, @photo.album, @photo), class:"btn btn-danger btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back to Album', user_album_path(@photo.album.user, @photo.album), class:"btn btn-inverse btn-mini" %>
  </div>
</div>