<div class="span12">
  <br>
  <br>
  <h1><%= @photo.name %></h1>
  <p>
    <b><em>by <%= @photo.album.user.username %><em></b>
  </p>
  <br>
  <% if @photo.description? %>
    <p>
      <b>"<%= @photo.description %>"</b>
    </p>
  <% end %>
  <br>
    <div class="photo">
    <%= image_tag @photo.photo_picture.url %>
    </div>
  <p>
    <b>Number of Likes:</b>
      <%= @photo.likes.size %>
      <%= link_to "Download full size", download_user_album_photo_path(@photo.album.user, @photo.album, @photo) %>
  </p>
  <p>
    <b>Tags:</b>
    <%= @photo.tag_list %>
  </p>

  <div class="voting">
    <% if can? [:like, :unlike], @photo %>
      <% if current_user.voted_up_on? @photo %>
        <%= button_to 'Unlike', unlike_user_album_photo_path(@photo.album.user, @photo.album, @photo) %>
      <% else %>
        <%= button_to 'Like', like_user_album_photo_path(@photo.album.user, @photo.album, @photo) %>
      <% end %>
    <% else %>
    <%end%>
  </div>

  <div class="comments_container">
    <h3> Comments: </h3>
    <%unless current_user %>
      <p> Please <%= link_to 'log in', login_path %> to leave a comment </p>
    <% end %>

    <div class="photo_comments">
      <% @photo.comments.each do |comment| %>
          <div class="comment_avatar">
            <% if comment.user.avatar? %>
              <%= image_tag comment.user.avatar.mini.url %>
            <% end %>
            </div>
            <div>"<%= comment.content %>"</div>
          <div class="comment_details"><%= comment.user.username %> on <%= comment.created_at.strftime('%c') %></div>

          <%if can? :destroy, comment %>
            <%=link_to 'delete', comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      <% end %>
    </div>

      <%= render partial: "comments/form" if can? :create, @comment %>
  </div>

  <br>
  <br>
  <div class="links">
    <% if can? :manage, @photo.album.user %>
      <%= link_to 'Edit', edit_user_album_photo_path(@photo.album.user, @photo.album, @photo), class:"btn btn-warning btn-mini" %>
      <%= link_to 'Destroy', user_album_photo_path(@photo.album.user, @photo.album, @photo), class:"btn btn-danger btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= link_to 'Back to Album', user_album_path(@photo.album.user, @photo.album), class:"btn btn-inverse btn-mini" %>
  </div>
<br>
<br>
</div>
