<div class="span8">
<h1>Photo</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Photo picture:</b>
  <%= image_tag @photo.photo_picture.url %>
</p>


<%= link_to 'Edit', edit_user_album_photo_path(@photo.album.user, @photo.album, @photo) %> |
<%= link_to 'Back', user_album_path(@photo.album.user, @photo.album) %> |
<%= link_to 'Destroy', user_album_photo_path(@photo.album.user, @photo.album, @photo), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>