<div class="span8">
  <h1>Photo</h1>

  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @photo.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @photo.description %>
  </p>

  <p>
    <b>Photo picture:</b>
    <%= image_tag @photo.photo_picture.url %>
  </p>

  <div class="voting">
    <%if current_user.voted_down_on? @photo %>
      <%= link_to 'Like', like_user_album_photo_path(@photo.album.user, @photo.album, @photo) %>
    <% else %>
      <%= link_to 'Dislike', dislike_user_album_photo_path(@photo.album.user, @photo.album, @photo) %>
    <%end%>
  </div>

  <div class="links">
    <%= link_to 'Edit', edit_user_album_photo_path(@photo.album.user, @photo.album, @photo), class:"btn btn-warning btn-mini" %>
    <%= link_to 'Destroy', user_album_photo_path(@photo.album.user, @photo.album, @photo), class:"btn btn-danger btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back to Album', user_album_path(@photo.album.user, @photo.album), class:"btn btn-inverse btn-mini" %>
  </div>
</div>